.spinner {
    border: solid 3px #2DB0DD;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    will-change: transform;
    animation: spin 1000ms infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }