.form-wrapper label {
  @apply block mb-1 text-sm font-medium dark:text-gray-100;
}

.form-wrapper select {
  @apply w-full px-3 py-2 border rounded dark:border-slate-600 dark:text-white dark:bg-slate-700;
}

.form-wrapper input {
  @apply w-full px-3 py-2 border rounded dark:bg-slate-700 dark:border-slate-600 dark:text-white;
}

.form-wrapper textarea {
  @apply w-full px-3 py-2 border rounded dark:text-white dark:bg-slate-700 dark:border-slate-600;
}